---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.logo {
	height: 32px;
	float: left;
	margin-top: 11px;
	margin-right: 1em;
	vertical-align: middle;
}

.screenshot {
	float: right;
	width: 33%;
	padding: 15px;
	border: 1px solid #e8e8e8;
	background: white;
	margin: .5em 0 .5em .5em;
}

.logo-left {
	height: 32px;
	float: left;
	margin: 8px 1em 8px 0;
}

.caption {
	width: 100%;
	font-size: smaller;
	text-align: center;
	margin-top: 1em;
}

.poweredby-logo {
	margin-right: 2em;
	margin-bottom: 1em;
	width: 25%;
}

.highlighter-rouge .highlight, pre, code {
    background-color: #f7f7f7;
}

.contact-list a:hover {
    text-decoration: none;
}

.contact-list a:hover .url {
	text-decoration: underline;
}

.video-container {
	position: relative;
	height: 0;
	overflow: hidden;
}

.video-container-wide {
	@extend .video-container;
	padding-bottom: 56.25%; /* 9/16=0.5625 */
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/* Fix overflowing background color */
.highlighter-rouge div.highlight {
	background: none;
}
